### Pandas Data Cleaning 

    - Read Excel File 
    - Drop the Rows and Columns that are not needed
    - Change the column name
    - Remove the row with column names
    - Convert Columns to Rows
    - Convert Month Abbr to Number 
    - Sort the table 
    - Save the dataframe as excel file

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('inflation.xlsx')

/Users/arman/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
df = df.drop(['Unnamed: 13', 'Unnamed: 14'], axis=1)

In [7]:
df = df.drop(df.index[:10])

In [9]:
df.columns = df.iloc[0]

In [11]:
df = df.drop(df.index[0])

In [13]:
df = df.melt(id_vars=['Year'], var_name='Month', value_name='Inflation Rate')

In [15]:
df.head(12)

      Year Month Inflation Rate
0   1991.0   Jan            0.8
1   1992.0   Jan            0.3
2   1993.0   Jan            0.5
3   1994.0   Jan            0.3
4   1995.0   Jan            0.5
5   1996.0   Jan            0.4
6   1997.0   Jan            0.3
7   1998.0   Jan            0.3
8   1999.0   Jan            0.3
9   2000.0   Jan            0.3
10  2001.0   Jan            0.4
11  2002.0   Jan            0.2

In [17]:
from datetime import datetime

In [20]:
df['Month'] = df.Month.apply(lambda x: datetime.strptime(x, '%b').month)

In [22]:
df = df.sort_values(['Year', 'Month'])

In [25]:
df.head(24)
df.to_excel('inflation_Monthly.xlsx', index=False)

In [26]:
new_df = pd.read_excel('inflation_Monthly.xlsx')

In [27]:
new_df

     Year  Month  Inflation Rate
0    1991      1             0.8
1    1991      2             0.6
2    1991      3             0.4
3    1991      4             0.1
4    1991      5             0.1
..    ...    ...             ...
391  2023      8             NaN
392  2023      9             NaN
393  2023     10             NaN
394  2023     11             NaN
395  2023     12             NaN

[396 rows x 3 columns]