### Pandas Tutorial 1
    - reading excel file or CSV
    - Getting rows and coloumns 
    - Droping rows and Column 
    - Chnaging column names 
    - Reseting Index

In [1]:
import pandas as pd

In [14]:
df = pd.read_excel('HPI_PO_monthly_hist.xls')

In [15]:
df = df.drop(df.index[:2])

In [16]:
df.drop(df.iloc[:, 1:20], axis=1, inplace=True)

In [18]:
df.columns = df.iloc[0]

In [20]:
df = df.drop(df.index[:2])

In [22]:
df = df.reset_index(drop=True)

In [30]:
df.columns.name = df.index.name
df.index.name = None

In [31]:
df

                   Month USA\n\n(SA)
0    1991-01-01 00:00:00         100
1    1991-02-01 00:00:00      100.44
2    1991-03-01 00:00:00      100.48
3    1991-04-01 00:00:00      100.33
4    1991-05-01 00:00:00      100.39
..                   ...         ...
379  2022-08-01 00:00:00      391.81
380  2022-09-01 00:00:00      392.72
381  2022-10-01 00:00:00       392.9
382  2022-11-01 00:00:00      392.43
383  2022-12-01 00:00:00      392.05

[384 rows x 2 columns]